<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Web Page</title>
    <!--Link to CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
    <!--Box Icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="nav container">
        <!--Logo-->
        <a href="/" class="logo">My<span> Blog</span></a>
        <!--Navigation Right-->
        <div class="nav-right">
          <a href="/admin" class="admin-btn"><i class="bx bx-user"></i></a>
          <a href="/add" class="write-btn"><i class="bx bx-pencil"></i>Write</a>
        </div>
      </div>
    </header>
  </body>
</html>
